/************************************
------------CSS RESET----------------
************************************/
* {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

.clearfix {
  display: block;
}
* html .clearfix {
  height: 1px;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/************************************
SPECIFIC DOM STYLING
************************************/
.flipbook-preloader {
  position: absolute;
}

/* flipbook functional styling */
.flipbook {
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 750px;
}
.flipbook-wrapper {
  height: 500px;
  position: relative;
  width: 800px;
}
.flipbook-preloader {
  background: white url(../images/preloader.gif) center no-repeat;
  border-radius: 10px;
  color: #999;
  height: 40px;
  left: 45%;
  opacity: 1;
  position: absolute;
  top: 50%;
  width: 40px;
}
.flipbook .pages {
  position: absolute;
}

.flipbook .page {
  position: absolute;
}
.flipbook .page_left_con {
  overflow: hidden;
  position: absolute;
  z-index: 901;
}

.flipbook .shadow_left {
  background: #000;
  position: absolute;
  z-index: 902;
}

.flipbook .page_left {
  height: 525px;
  position: absolute;
  width: 940px;
}

.flipbook .page_right_con {
  height: 525px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  width: 0px;
  z-index: 900;
}

.flipbook .shadow_right {
  background: #000;
  position: absolute;
  z-index: 902;
}

.flipbook .page_right {
  height: 525px;
  position: absolute;
  width: 940px;
}

/* zoom*/
.zoom_page {
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 9500;
  zoom: 200%;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-zoom: 200%;
}

/*****flipbook menu arrows ***/
.flipbook_menu {
  position: relative;
}
.flipbook_menu > * {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.flip-sound {
  position: absolute;
}
.flipbook-notice {
  background: #d2ff52;
  background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
  background: -webkit-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  background: -o-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  background: -ms-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  background: linear-gradient(top, #d2ff52 0%, #91e842 100%);
  border-radius: 5px;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.8);
  color: #111;
  display: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0);
  height: 40px;
  left: 50%;
  margin-left: -130px;
  margin-top: -25px;
  padding: 20px 20px 10px 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 180px;
  z-index: 50000;
}
